/.idea
/target
/project/project
/project/target
/core/target
/sttp-jdk/target
/sttp-try/target
/sttp-zio1/target
/sttp-zio/target
/.ivy2
/.sbt
/.ssh
/checked.log
/.bsp
/.credentials
/sonatype-creds.sbt
